Klebsiella
	Alignments:	64 GB of RAM
Mycobacterium
	Alignments: 128 GB of RAM
Salmonella
	Alignments: 128 GB of RAM
Staphylococcus
	Alignments: 32 GB of RAM

Suggested memory/RAM.  Took the memory usage by the training process and rounded up to the nearest "double" (2, 4, 8, 16, 32, 64, 128, 256, etc.).  